body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #84fab0 0%, #8fd3f4 100%);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.memory-game {
    width: 640px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.memory-card {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4e6bff; /* Set the initial background color to light blue */
    color: white; /* Set the text color to white for better visibility */
    border: none; /* Remove the default button border */
    border-radius: 5px; /* Add slight rounding to the corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

#restartButton:hover {
    background-color: navy; /* Darken the background color on hover */
}


#timer {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}